apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../base
  - kubeflow-training-roles.yaml
images:
  - name: kubeflow/training-operator
    newName: docker.io/megaputer/training-operator
    newTag: "174e8813666951ded505daf334a37f60fd50c18d"
